html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: khaki;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#logo {
  text-align: left;
  margin-left: 28px;
  text-decoration: none;
  color: black;
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

h1 {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 40px;
}

.box {
  background-color: white;
  margin-left: 28px;
  margin-right: 28px;
  min-height: 500px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  margin-bottom: 5px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 28px;
}

.nav-links li {
  padding-left: 10px;
  padding-right: 10px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 28px;
  font-family: 'Amatic SC', cursive;
}

.link:hover {
  color: grey;
  cursor: pointer;
}

/*MESSAGES*/

.msg {
  list-style: none;
}

#msg-box {
  padding-bottom: 20px;
}
.msg-username {
  margin-bottom: 10px;
}

.time {
  font-size: 15px;
  padding: 7px;
  padding-bottom: 15px;
  color: grey;
}

.msg-text {
}

.delete-btn {
  margin-left: 10px;
}

*/ code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
